.icon--bg {
    background: #F3F4F5 !important;
    padding: 5px !important;
    width: 35%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.badge--card {
    padding: 0 !important;
}

.dashedLine {
    border-bottom: 1px dashed #3B424F;
}

.dashedLine--block {
    display: inline-block;
}

.sorting--div {
    display: flex;
    flex-direction: column;
}