.inte__Menus--active .inte__Menus {
    background-color: rgb(230 228 239) !important;
}

.popover--height .inte__Popover-Wrapper {
    max-height: initial !important;
}


.logout__style {
    border-top: 1px solid #D7D9DB !important;
    margin: 150px 0px 10px 0px !important;
    align-items: center;
}

.logout__style .inte__Menus {
    position: fixed;
}

.notify__alert .notification--dot {
    background: #D62C20;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    right: -4px;
    bottom: 20px;
    z-index: 9;
    top: 2px;
}


.ellipses--text {
    width: 200px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}