.light--text {
    color: #616771 !important;
}

.blue--text {
    color: #2E90FA !important
}

.loader--position .inte-PageLoader {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
}

.update--textStyle {
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
}