.text--underline {
    border-bottom: 1px dashed;
    display: inline-block;
}

.text--imp {
    color: #D62C20 !important;
}

.custom--tooltip_style {
    margin-left: 60px !important;
}

.helpText--style {
    color: #4E4F52 !important;
}

.custom--selectStyle .inte-select--thick {
    width: 200px !important;
}

.extra--spaceStyle .slick-track {
    padding-left: 70px !important;
}

.btn--custom_border .inte-btn--Outlined {
    border: none !important;
}